<partial name="_SimpleNav" />

<form action="SubmitForm" method="post">
    <label for="input-1">文字</label>
    <input id="input-1" placeholder="輸入任意文字..." name="textInput" />
    <br />

    <label for="input-2">數字</label>
    <input id="input-2" type="number" placeholder="輸入數字..." name="numberInput" />
    <br />

    <label for="input-3">時間</label>
    <input id="input-3" type="datetime-local" name="datetimeInput" />
    <br />

    <input id="input-4" type="radio" value="radioValue1" name="radioInput" />
    <label for="input-5">單選選項1</label>
    <input id="input-5" type="radio" value="radioValue2" name="radioInput" />
    <label for="input-6">單選選項2</label>
    <input id="input-6" type="radio" value="radioValue3" name="radioInput" />
    <label for="input-4">單選選項3</label>
    <br />

    <input id="input-4" type="checkbox" value="checkValue1" name="checkInput1" />
    <label for="input-5">核取方塊1</label>
    <input id="input-5" type="checkbox" value="checkValue2" name="checkInput2" />
    <label for="input-6">核取方塊2</label>
    <input id="input-6" type="checkbox" value="checkValue3" name="checkInput3" />
    <label for="input-4">核取方塊3</label>
    <br />

    <select name="selectInput">
        <option value="selectValue1">下拉選項1</option>
        <option value="selectValue1">下拉選項2</option>
        <option value="selectValue1">下拉選項3</option>
    </select>

    <input type="submit" value="提交" />
</form>