@model MVC_Tutorial_02.Controllers.FormInput

<partial name="_SimpleNav" />

<form asp-action="SubmitForm">
    <div class="row">
        <div class="col-sm-4">
            <label class="control-label" asp-for="TextInput">文字</label>
            <input class="form-control" asp-for="TextInput" placeholder="輸入任意文字..." />
        </div>

        <div class="col-sm-4">
            <label class="control-label" asp-for="NumberInput">數字</label>
            <input class="form-control" asp-for="NumberInput" type="number" placeholder="輸入數字...">
        </div>

        <div class="col-sm-4">
            <label class="control-label" asp-for="DateTimeInput">時間</label>
            <input class="form-control" asp-for="DateTimeInput" type="datetime-local">
        </div>
    </div>

    <div class="m-2 p-2">
        <div class="form-check form-check-inline">
            <input class="form-check-input" asp-for="RadioInput" type="radio" value="radioValue1">
            <label class="form-check-label" asp-for="RadioInput">單選選項1</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" asp-for="RadioInput" type="radio" value="radioValue2">
            <label class="form-check-label" asp-for="RadioInput">單選選項2</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" asp-for="RadioInput" type="radio" value="radioValue3">
            <label class="form-check-label" asp-for="RadioInput">單選選項3</label>
        </div>
    </div>
    <div class="m-2 p-2">
        <div>
            @*<div class="form-check form-check-inline">
            </div>
            <div class="form-check form-check-inline">
            </div>
            <div class="form-check form-check-inline">
            </div>*@
            <input class="form-check-input" asp-for="checkInput1" type="checkbox" value="checkValue1">
            <label class="form-check-label" asp-for="checkInput1">核取方塊1</label>
            <input class="form-check-input" asp-for="checkInput2" type="checkbox" value="checkValue2">
            <label class="form-check-label" asp-for="checkInput2">核取方塊2</label>
            <input class="form-check-input" asp-for="checkInput3" type="checkbox" value="checkValue3">
            <label class="form-check-label" asp-for="checkInput3">核取方塊3</label>
        </div>
    </div>
    <div>
        <select class="form-control form-control-sm" asp-for="selectInput">
            <option value="selectValue1">下拉選項1</option>
            <option value="selectValue1">下拉選項2</option>
            <option value="selectValue1">下拉選項3</option>
        </select>
    </div>
    <input class="form-control" type="submit" value="提交" />
</form>