@{
}

<partial name="_SimpleNav" />

<h1>HTML + style 屬性</h1>

<h1 style="color: orange ">h1 標頭</h1>
<h2 style="background-color:aqua">h2 標頭</h2>
.
.
.
<h6 style="font-size:xx-large">h6 標頭</h6>

<p style="font-size:xx-large; background-color:aqua">p 段落</p>
<br /><!-- 換行 -->
<hr /><!-- 分隔線 -->

<a style="font-family:'Times New Roman'; font-size:large;"
   href="www.google.com.tw">
    超連結 Hyper Link
</a>

<div style="border: dashed red; border-radius: 10px">
    最常用的 div
</div>
<div style="border:solid; background-color: aqua; margin: 20px; padding: 20px;">
    div 2
</div>

<span style="border:solid red;">
    span 1
</span>

<span style="background-color: aqua">
    span 2
</span>

無序清單
<ul style="border:dotted;">
    <li style="border: solid">item 1</li>
    <li style="color: orange ">item 2</li>
    <li style="background-color:aqua">item 3</li>
</ul>

有序清單
<ol style="background-color: lawngreen">
    <li style="border: solid">item 1</li>
    <li style="color: orange ">item 2</li>
    <li style="background-color:aqua">item 3</li>
</ol>

表格
<table border="1" style="background-color: aqua">
    <thead style="background-color: greenyellow">
        <tr>
            <td>表頭1</td>
            <td>表頭2</td>
            <td>表頭3</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="font-size:xx-large">資料1-1</td>
            <td>資料1-2</td>
            <td>資料1-3</td>
        </tr>
        <tr>
            <td>資料2-1</td>
            <td>資料2-2</td>
            <td>資料2-3</td>
        </tr>
        <tr>
            <td>資料3-1</td>
            <td>資料3-2</td>
            <td>資料3-3</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>表尾1</td>
            <td>表尾2</td>
            <td>表尾3</td>
        </tr>
    </tfoot>
</table>