<nav>
    <a style="border: solid; margin: 10px" asp-action="Index">原始 HTML</a>
    <a style="border: solid; margin: 10px" asp-action="HtmlWithStyleAttribute">HTML + Style 屬性</a>
    <a style="border: solid; margin: 10px" asp-action="HtmlWithGlobalCss">HTML + 全域 CSS</a>
    <a style="border: solid; margin: 10px" asp-action="HtmlWithBootstrap">HTML + Bootstrap</a>
    <a style="border: solid; margin: 10px" asp-action="FormDemo">HTML 表單</a>
    <a style="border: solid; margin: 10px" asp-action="FormDemoWithRazor">HTML 表單 + Razor</a>
    <a style="border: solid; margin: 10px" asp-action="FormDemoWithRazorBootstrap">HTML 表單 + Razor + bootstrap</a>
    <p>（記得按 Ctrl + F5 清快取）</p>
</nav>
